*.aux
*.bbl
*.blg
*.brf
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.dvi
*.idx
*.lof
*.ilg
*.nlo
*.nls
*.fdb_latexmk
*.fls
*.ind
.*.sw*
*~
*.~*#
*.synctex.gz
paper.pdf
paper.out
bak/
.DS_Store
big-notes-jul21-2010.pdf
big-notes-stochastics-20180517.pdf
big-notes-stochastics-20180517.pdf
big-notes-book_draft-20180920.pdf
fabbri-kimia-bignotes-20180928.pdf
fabbri-kimia-bignotes-20181007.pdf
fabbri-kimia-bignotes-20181106.pdf
fabbri-kimia-bignotes-nview_feature_count-01feb2019.pdf
fabbri-kimia-bignotes-trifocal_chapters-20181001-v2.pdf
fabbri-kimia-bignotes-trifocal_chapters-20181001.pdf
fabbri-kimia-bignotes-trifocal_chapters-20181002-v2.pdf
fabbri-kimia-bignotes-trifocal_chapters-20181002.pdf
fabbri-kimia-bignotes-trifocal_chapters-20181005.pdf
paper-trifocal-tmp.pdf
trifocal-line-equations-fabbri-2019.pdf
margaret-email
*.gz*busy*
